body {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

div {
    margin: 0;
    padding: 0;
}

.section {
    height: 80vh;
    display: flex;
}

.section1 {
    flex-direction: column;
    color: #f9faf8;
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    float: left;
    margin: 10px;
}

.landing {
    margin: 0px 90px 0px 150px;
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
}

.placeholder-image {
    display: flex;
}

.landing div:nth-of-type(1) {
    flex-shrink: 1;
}

.landing div:nth-of-type(2) {
    flex-shrink: 3;
}